
#bigPoly {
    /* animation: fadeInOut 2s infinite; */
    animation: float 15s infinite ease-in-out;
    animation-timeline: auto;
}

#cornerPiece {
    animation: float 10s infinite ease-in-out;
}

 #p1 {animation: rotate 1s 1 forwards, float 30s infinite ease-in-out 5s;}
 #p2 {animation: rotate 2s 1 forwards, float 21s infinite ease-in-out 5s;}
 #p3 {animation: rotate 3s 1 forwards, float 33s infinite ease-in-out 5s;}
 #p4 {animation: rotate 4s 1 forwards, float 22s infinite ease-in-out 5s;}
 #p5 {animation: rotate 5s 1 forwards, float 24s infinite ease-in-out 5s;}
 #p6 {animation: rotate 2s 1 forwards, float 23s infinite ease-in-out 5s;}
 #p7 {animation: rotate 3s 1 forwards, float 18s infinite ease-in-out 5s;}
 #p8 {animation: rotate 4s 1 forwards, float 25s infinite ease-in-out 5s;}
 #p9 {animation: rotate 5s 1 forwards, float 27s infinite ease-in-out 5s;}
#p10 {animation: rotate 1s 1 forwards, float 19s infinite ease-in-out 5s;}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #bigPoly, #cornerPiece {
    will-change: transform;
    pointer-events: none;
}


@keyframes float {
    0% {transform: translate3d(0, 0, 0) rotate(0deg);}
    10% {transform: translate3d(0, -10px, 0) rotate(-0.5deg);}
    20% {transform: translate3d(0, -3px, 0) rotate(-0.5deg);}
    30% {transform: translate3d(0, -12px, 0) rotate(-1deg);}
    40% {transform: translate3d(0, -0px, 0) rotate(-0.5deg);}
    50% {transform: translate3d(0, -12px, 0) rotate(-1deg);}
    60% {transform: translate3d(0, -5px, 0) rotate(-0.5deg);}
    70% {transform: translate3d(0, -10px, 0) rotate(-0.5deg);}
    80% {transform: translate3d(0, -2px, 0) rotate(-1deg);}
    90% {transform: translate3d(0, -9px, 0) rotate(-0.5deg);}
    100% {transform: translate3d(0, 0, 0) rotate(0deg);}
}

@keyframes rotate {
    0% {transform: rotate(100deg);}
    100% {transform: rotate(0deg);}
}