.pure-container {
    display: none;
    margin: auto;
    margin-top: 100px;
    background-color: lightblue;
    border-radius: 20px;
    background-image: linear-gradient(
            111.15deg,
            rgba(0, 96, 240, 0.486) 0%,
            rgba(0, 4, 10, 0.6) 92.78%
        ),
        linear-gradient(
            112.99deg,
            rgba(118, 175, 187, 0.95) -19.03%,
            rgba(8, 33, 98, 0.95) 102.17%
        );
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    max-width: 600px;
    padding-bottom: 20px;
}

.pure-button {
    padding: 5px 10px 5px 10px;
    box-shadow: 1px 1px 1px 1px;
    margin-top: 3px;
}

.pure-form {
    display: grid;
    justify-items: center;
}

/* had to define text colors here to not apply them to the input fields */
h1, label, p {
    color: white;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 0, 255);
}


.notification {
    display: none;
    border-radius: 10px;
    background-color: lightgreen;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    margin: auto;
    max-width: 300px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}


.errorNotification {
    background-color: rgb(197, 101, 84);
}


html {
    background: radial-gradient(
        circle,
        rgba(32, 32, 32, 1) 0%,
        rgba(121, 121, 121, 1) 100%
    );
    height: 100vh;
    width: 100vw;
}
