.pure-container {
    display: none;
    margin: auto;
    position: relative;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.178);
    border: 2px solid white;
    border-radius: 20px;
    max-width: 400px;
    padding-bottom: 20px;
}

.register {
    display: none;
}

.pure-button {
    padding: 5px 10px 5px 10px;
    box-shadow: 1px 1px 1px 1px;
    margin-top: 3px;
}

.pure-form {
    display: grid;
    justify-items: center;
}

/* had to define text colors here to not apply them to the input fields */
h1, label, p {
    color: white;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 102, 255);
    font-weight: 600;
}


.notification {
    display: none;
    border-radius: 10px;
    background-color: lightgreen;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    margin: auto;
    max-width: 300px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}


.errorNotification {
    background-color: rgb(197, 101, 84);
}


#svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    background-size: cover;
}


html, body {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}
