.usernameWindow {
    display: none;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    background-image: linear-gradient(
            111.15deg,
            rgba(0, 96, 240, 0.486) 0%,
            rgba(0, 4, 10, 0.6) 92.78%
        ),
        linear-gradient(
            112.99deg,
            rgba(118, 175, 187, 0.95) -19.03%,
            rgba(8, 33, 98, 0.95) 102.17%
        );
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    max-width: 600px;
    padding-bottom: 20px;
}

.usernameWindow h1 {
    color: white;
}

.pure-form {
    text-align: center;
    display: grid;
    justify-content: center;
}

.pure-form input {
    text-align: center;
    font-size: large;
}

.notification {
    display: none;
    border-radius: 10px;
    background-color: lightgreen;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    margin: auto;
    max-width: 300px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.errorNotification {
    background-color: rgb(197, 101, 84);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    /* on top of everything */
    z-index: 2;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.context {
    color: white;
}

h1 {
    font-size: 3em;
}

.pure-form button {
    margin: auto;
    background: rgb(66, 184, 221);
    margin-bottom: 20px;
    margin-top: 5px;
}

#newPostButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#newPostInput {
    width: 400px;
    height: 100px;
    resize: none;
    text-align: start;
}

#removeButton {
    background-color: rgb(237, 94, 104);
}

#replyButton {
    background-color: rgb(39, 139, 197);
}

#userPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    width: 80%;
    max-width: 1000px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: start;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
}

.text-container h5 {
    font-size: 1.3em;
    margin: 0px;
}

.text-container p {
    margin-top: 20px;
    margin-left: 40px;
    word-break: break-all;
}

.reply {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 2px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.username {
    font-size: larger;
    font-weight: 600;
}

.infoBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 3px 3px 0px 0px;
    margin-top: -10px;
    margin-left: -10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.replyWindow {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
            111.15deg,
            rgba(0, 96, 240, 0.486) 0%,
            rgba(0, 4, 10, 0.6) 92.78%
        ),
        linear-gradient(
            112.99deg,
            rgba(118, 175, 187, 0.95) -19.03%,
            rgba(8, 33, 98, 0.95) 102.17%
        );
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px 100px 20px 100px;
    z-index: 3;
}

.replyForm textarea {
    resize: none;
    width: 300px;
    height: 75px;
}

.replyWindow h1,
.replyWindow p {
    color: white;
}

.pure-button {
    vertical-align: 0%;
}

html {
    background-repeat: no-repeat;
    background-image: linear-gradient(
            111.15deg,
            rgba(0, 96, 240, 0.486) 0%,
            rgba(0, 4, 10, 0.6) 92.78%
        ),
        linear-gradient(
            112.99deg,
            rgba(118, 175, 187, 0.95) -19.03%,
            rgba(8, 33, 98, 0.95) 102.17%
        );
    min-height: 100vh;
    width: 100%;
    overflow: auto;
}

@media (max-width: 643px) {
    #newPostInput {
        width: 350px;
    }

    .replyWindow {
        width: auto;
    }

    .replyForm textarea {
        width: 200px;
        height: 50px;
    }

    .actionButtons {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    #replyButton {
        width: 100%;
    }

    #removeButton {
        margin-top: 4px;
        width: 100%;
    }
}

@media (max-width: 400px) {
    #newPostInput {
        width: 250px;
    }
}
